@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 15s linear infinite;
}

.bg-fade {
  transition: background-image 1s ease-in-out;
}

:root {
  --color-primary: #000000; /* Warna kopi */
  --color-latte: #f9f5f0; /* Background terang */
  --color-coffee: #4b2e1e; /* Teks gelap */
}

.bg-primary {
  background-color: var(--color-primary);
}

.text-primary {
  color: var(--color-primary);
}

.bg-latte {
  background-color: var(--color-latte);
}

.text-coffee {
  color: var(--color-coffee);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.9);
  }
}

/* Animasi masuk */
.animate-fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}

/* Animasi keluar */
.animate-fadeOut {
  animation: fadeOut 0.3s ease-in-out;
}
